<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="tab-pane" id="peliculasTab">
            <!-- Contenido de la pestaña de Películas -->
            <h2>Películas</h2>
            <div class="container mt-5">
              
              <table class="table">
                  <thead>
                      <tr>
                          <th>Título</th>
                          <th>ID</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for pelicula in peliculas %}
                          <tr>
                              <!-- <td><img src="{{ pelicula.imagen }}" alt="{{ pelicula.titulo }}" style="max-width: 100px;"></td> -->
                              <td>{{ pelicula.titulo }}</td>
                              <td>{{ pelicula.id }}</td>
                              <td> <a class="btn btn btn-primary" href="/ver_pelicula/{{ pelicula.id }}">Ver Detalles</a></td>
                          </tr>
                      {% endfor %}
                  </tbody>  
              </table>
          </div>
    </body>
</html>